
div{
    background-color: #e7edaf;
    border-style: solid;
    border-width: 2px;
}
label{
    text-align: center;
    font-size: larger;
}
 ul#ex{
    display: inline;
}
div.hino{
    background-color: red;
    margin: auto;
    border: 2px solid;
    width: 300px;
}
div.quote{
    text-align: center;
    background-color: white;
    width: 50%;
    margin: auto;
    border: 0px;
}
footer p{

}
