img{
    width: 140px;
    height: 120px;
}
.products {
    width: fit-content;
    flex-direction: row;
}
.products div{
    display: inline-block;
    
    background-color: green;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}